@import "~/styles/_variables.scss";

.shoutout {
  position: relative;
  background-color: $light-blue;
  overflow: hidden;

  @media ($phablet) {
    margin-top: 32px;
    margin-bottom: 32px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 17px;
      background-color: #fff;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 17px;
      background-color: #fff;
      z-index: 0;
    }
  }

  @media ($mobile) {
    padding: $space 0;
  }

  .row {
    z-index: 1;

    @media ($phablet) {
      width: auto;
      margin: 0 -82px;
    }
  }

  .image {
    width: 100%;
  }

  &__text {
    color: $white;

    @media ($phablet) {
      padding: $space-m 0 $space-m 82px;
    }
  }

  .heading::after {
    background-color: $dark-blue;
  }
}
