@import "~/styles/_variables.scss";

.block-cta {
  display: inline-block;
  border: 2px solid;
  box-shadow: $box-shadow;
  padding: 16px 22px;
  font-family: $bold-family;
  line-height: 1;
  cursor: pointer;
  transform: scale(1);
  transition: transform $fast-transition;

  .icon {
    font-size: 24px;
  }

  &--primary {
    background-color: $green;
    border-color: $green;
    color: $white;
    border-radius: 2px;
  }

  &--secondary {
    background-color: $light-grey;
    color: $dark-blue;
  }

  &--inline {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    font-size: 18px;
  }

  &--left {
    float: left;
  }

  &--right {
    float: right;
  }

  &--large {
    font-size: 18px;
  }

  &--full-width {
    width: 100%;
  }

  &:hover {
    transform: scale(1.04);

    &:focus {
      outline: none;
    }
  }

  &:active {
    transform: scale(1);
  }
}
