@import "~/styles/_variables.scss";

.block-cta {
  display: inline-block;
  border: 2px solid;
  box-shadow: 0px 4px 4px rgba(5, 27, 63, 0.05);
  padding: 20px;
  font-family: $bold-family;
  line-height: 1;

  &--primary {
    background-color: $green;
    border-color: $green;
    color: $white;
    border-radius: 2px;
  }

  &--secondary {
    background-color: $light-grey;
    color: $dark-blue;
  }
}
