@import "~/styles/_variables.scss";

.hidden {
  display: none;
}

.button-label {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 70px 0;
  cursor: pointer;
  border-radius: 0.25em;
  color: $dark-blue;
  background: $light-grey;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  user-select: none;
  &:hover {
    background: darken($light-grey, 10%);
    color: darken($dark-blue, 10%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2),
      inset 0 -3px 0 rgba(0, 0, 0, 0.32);
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2),
      inset 0px -1px 0 rgba(0, 0, 0, 0.22);
  }
  @media ($mobile) {
    padding: 30px;
    margin: -10px 0;
  }
}

.radio-label:checked + .button-label {
  background: $green;
  color: $dark-blue;
  &:hover {
    background: lighten($green, 5%);
    color: darken($dark-blue, 5%);
  }
}
