@import "~/styles/_variables.scss";

.blog {
}

.blog-list-item {
  display: flex;

  &__image {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    margin-right: 32px;
    min-width: 0;
  }

  &__details {
    flex-grow: 1;

    .heading {
      margin-bottom: 22px;
    }
  }

  & + .blog-list-item {
    margin-top: 64px;
  }

  @media ($mobile) {
    flex-direction: column;

    &__image {
      margin-right: 0;
      margin-bottom: 32px;
      width: calc(100vw - 48px);
      height: calc(100vw - 48px);
    }
  }
}
