@import "~/styles/_variables";

.collapsible {
  width: 100%;

  &__heading {
    display: flex;
    cursor: pointer;
    color: $dark-blue;
    font-size: 24px;
    line-height: 1;
    font-family: $bold-family;
    padding: 18px 32px;
    border: 2px solid $dark-blue;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    transition: border-color $transition;

    span {
      margin: 0;
    }

    .icon {
      font-size: 36px;
      width: 36px;
      height: 36px;
      margin: -6px -20px -6px 0;
      opacity: 1;

      transition: opacity $transition;
    }

    &:active {
      .icon {
        opacity: 0;
      }
    }
  }

  &__content {
    padding: 22px 0 12px;
  }

  &--collapsed .collapsible__heading {
    border-color: $light-grey;

    &:hover,
    &:focus {
      border-color: $low-grey;
    }
  }
}
