@import "~/styles/_variables.scss";

.navigation-item {
  display: inline-flex;
  height: 100%;
  padding: 0 20px;
  cursor: default;

  &__link {
    position: relative;
    align-self: center;
    padding: 20px;

    &::before {
      content: attr(data-title);
      display: block;
      position: absolute;
      left: 50%;
      top: calc(50% - 1px);
      white-space: nowrap;
      transform: translate(-50%, -50%);
      pointer-events: none;
      opacity: 0;
      transition: opacity #{$transition};
      color: $green;
      font-family: $bold-family;
      background-color: $dark-blue;
    }
  }

  &--has-children {
    cursor: pointer;
  }

  &--shout {
    background-color: $green;
  }

  &:hover,
  &:focus {
    .navigation-item__link::before {
      opacity: 1;
      pointer-events: none;
    }
  }
}
