@import "~/styles/_variables.scss";

.navigation-item {
  display: inline-flex;
  cursor: default;
  position: relative;

  &__link {
    position: relative;

    &::before {
      content: attr(data-title);
      display: block;
      position: absolute;

      white-space: nowrap;
      pointer-events: none;
      opacity: 0;
      transition: opacity #{$transition};
      color: $green;
      font-family: $bold-family;
      background-color: $dark-blue;
    }

    @media ($phablet) {
      padding: 20px;
      align-self: center;

      &::before {
        left: 50%;
        top: calc(50% - 1px);
        transform: translate(-50%, -50%);
      }
    }

    @media ($mobile) {
      font-size: 16px;
      padding: 15px 0;
    }
  }

  &__children {
    display: block;
    left: 0;
    top: 100%;
    font-family: "gotham";
    font-style: oblique;
    color: $white;

    transition: transform $transition, opacity $transition;

    @media ($phablet) {
      font-size: 16px;

      position: absolute;
      transform: translateY(-5px);
      opacity: 0;
      pointer-events: none;
      font-weight: 500;
      padding: 20px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: $dark-blue;
    }

    @media ($mobile) {
      font-size: 14px;
    }
  }

  &__child-link {
    display: block;
    line-height: 1;
    white-space: nowrap;
    padding: 15px 0;
    text-align: left;
    transform: translateX(0);
    transition: transform #{$fast-transition};

    &:not(:first-child) {
      padding: 15px 15px 15px 0;
    }

    @media ($mobile) {
      border-top: 1px solid rgba(60, 150, 197, 0.2);
    }

    @media ($phablet) {
      & + .navigation-item__child-link {
        border-top: 1px solid rgba(60, 150, 197, 0.2);
      }

      &:hover {
        transform: translateX(5px);
      }
    }
  }

  &--has-children {
    cursor: pointer;
  }

  &--shout {
    background-color: $green;

    @media ($mobile) {
      position: fixed;
      width: calc(100% - 44px);
      bottom: 22px;
      padding: 15px;
      border-radius: 2px;
      text-align: center;
    }
  }

  &--coming-soon {
    span {
      display: block;
      font-size: 80%;
      white-space: nowrap;
      opacity: 0.6;
      font-family: $light-family;
      font-style: italic;
      line-height: 1;
    }

    @media ($phablet) {
      text-align: center;
    }

    @media ($mobile) {
      span {
        margin-top: 3px;
      }
    }
  }

  &:hover,
  &:focus {
    .navigation-item__link::before {
      opacity: 1;
      pointer-events: none;
    }

    @media ($phablet) {
      .navigation-item__children {
        background-color: $dark-blue;
        pointer-events: all;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  @media ($phablet) {
    height: 100%;
    padding: 0 20px;
  }

  @media ($mobile) {
    display: block;

    &__link {
      line-height: 1;
    }

    &__children {
      height: 0;
      overflow: hidden;
      transition: height 0s 0.1s;
    }

    &:hover .navigation-item__children {
      height: auto;
    }

    &:first-child .navigation-item__link {
      padding-top: 0;
    }

    & + .navigation-item {
      border-top: 1px solid rgba(60, 150, 197, 0.2);
    }
  }
}
