@import "~/styles/_variables";

.navigation {
  position: relative;
  background-color: $dark-blue;
  color: $white;
  z-index: 100;

  &__top {
    display: none;

    font-size: 16px;
    border-bottom: 1px solid $white;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
    }

    .customer-switcher {
      height: 100%;

      &__link {
        display: inline-block;
        position: relative;
        vertical-align: -webkit-baseline-middle;
      }

      &__link-separator {
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
        width: 1px;
        height: 24px;
        background-color: $low-grey;
        opacity: 0.2;
        margin: 0 12px;
      }

      .link--active {
        color: $green;
        font-family: $bold-family;
        border-color: $green;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-20px);
          background-color: $green;
          height: 5px;
          width: 100%;
        }
      }
    }

    .contact-details {
      &__link {
        display: inline-block;
        font-family: $bold-family;
      }

      &__link + .contact-details__link {
        margin-left: $space;
      }
    }

    @media ($phablet) {
      display: block;
    }
  }

  &__main {
    .container {
      justify-content: space-between;
      height: 120px;
      align-items: center;
    }

    .logo,
    .logo__anchor {
      display: block;
      width: 132px;
      height: 89px;
    }
  }

  &__items {
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }
}

.navigation-item {
  position: relative;

  &__children {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    font-family: "gotham";
    font-size: 16px;
    font-style: oblique;
    font-weight: 500;
    background-color: $dark-blue;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $white;
    pointer-events: none;

    /* transition */
    transition: transform #{$transition}, opacity #{$transition};
    transform: translateY(-5px);
    opacity: 0;
  }

  &__child-link {
    display: block;
    line-height: 1;
    white-space: nowrap;
    padding: 15px 0;
    text-align: left;

    &:not(:first-child) {
      padding: 15px 15px 15px 0;
    }

    & + .navigation-item__child-link {
      border-top: 1px solid rgba(60, 150, 197, 0.2);
    }
  }

  &:hover {
    .navigation-item__children {
      background-color: $dark-blue;
      pointer-events: all;
      transform: translateY(0);
      opacity: 1;
    }
  }
}
