@import "~/styles/_variables.scss";

.block {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  .heading,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 22px;
  }

  @media ($phablet) {
    padding: $space-xl 0;
  }

  @media ($mobile) {
    padding: 48px 0;
  }
}
