@import "~/styles/_variables.scss";

.block {
  position: relative;
  max-width: 1440px;

  .heading {
    margin-bottom: 22px;
  }

  @media ($phablet) {
    padding: $space-xl 0;
  }

  @media ($mobile) {
    padding: 48px 0;
  }
}
