@import "~/styles/_variables.scss";

.certificates {
  .container {
    flex-direction: column;
  }

  .heading {
    margin-bottom: $space-m !important;
  }

  img {
    max-width: 1047px;
    margin: 0 auto;
  }
}
