@import "~/styles/_variables.scss";

.certificates {
  .container {
    flex-direction: column;
  }

  .gatsby-image-wrapper {
    margin: 0 auto;
    margin-top: $space-m;

    &.hidden-xs {
      width: 1047px;
    }
    &.visible-xs {
      max-width: 276px;
    }
  }

  p {
    margin-bottom: 48px;
  }
}
