@import "./Animate/styles.scss";
@import "./FormCheckbox/styles.scss";
@import "./FormInput/styles.scss";
@import "./FormSelect/styles.scss";
@import "./FormTextarea/styles.scss";
@import "./Icon/styles.scss";
@import "./Video/styles.scss";
