@import "~/styles/_variables.scss";

.highlight-block {
  background-color: $dark-blue;
  color: $white;
  padding: 42px 32px;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 380px;

  .heading {
    color: $white !important;
  }

  &__list {
    font-size: 16px;
    line-height: 1.2;

    li {
      position: relative;
      padding-left: 48px;
      min-height: 30px;

      & + li {
        margin-top: 16px;
      }
    }
  }

  .icon {
    font-size: 30px;
    color: $light-blue;
    position: absolute;
    top: 0;
    left: 0;
  }

  .block-cta {
    width: 100%;
    text-align: center;
    margin-top: 36px;
  }
}
