@import "~/styles/_variables.scss";

.grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  color: $dark-blue;
  margin-bottom: -28px;

  li {
    flex-grow: 1;
    flex-shrink: 0;
    width: 25%;
    min-width: 304px;
    max-width: 304px;
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

.grid-item {
  &__title {
    font-size: 18px;
    font-family: $bold-family;
    line-height: 24px;
  }

  &__icon {
    color: $green;
  }
}
