@import "~/styles/_variables.scss";

.form-input {
  &__field {
    display: block;
    font-size: 16px;
    line-height: 1;
    font-family: $light-family;
    color: #000;
    background-color: $light-grey;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid $dark-blue;
    padding: 18px 26px;

    &:focus {
      outline: none;
      border-bottom-color: $green;
    }

    @media ($phablet) {
      width: 80%;
      max-width: 416px;
    }
  }

  &__label {
    font-size: 16px;
    font-family: $bold-family;
    line-height: 1;
    margin-bottom: 12px;
  }
}
