@import "~/styles/_variables.scss";

.section {
  padding: $space-m 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  .block-cta {
    margin-top: 32px;
  }

  @media ($mobile) {
    .block-cta {
      width: 100%;
    }
  }
}
