$dark-blue: #051c3f;
$light-view: #3c96c5;
$green: #70b33b;
$black-paragraph: #333333;
$black-paragraph-light: #4f4f4f;
$medium-grey: #9d9d9d;
$light-grey: #f3f3f3;
$low-grey: #d1d1d1;
$gradient-green: linear-gradient(180deg, #70b33b 0%, #4db9af 100%);
$gradient-light-blue: linear-gradient(180deg, #3c96c5 0%, #4db9af 100%);
$lighter-grey: #fafafa;
$white: #fff;

$space-s: 10px;
$space: 32px;
$space-m: 44px;
$space-l: 62px;
$space-xl: 96px;

#h1 {
  font-size: 48px;
  font-family: "gothambold";
}

#h2 {
  font-size: 40px;
  font-family: "gothambold";
}

.h3 {
  font-size: 32px;
  font-family: "gothambold";
}

.p {
  font-size: 18px;
  font-family: "gothambook";
}

.p-large {
  font-size: 20px;
  font-family: "gothambook";
}

.p-display {
  font-size: 24px;
  font-family: "gothambook";
}

.p-small {
  font-size: 16px;
  font-family: "gothamblack";
}

.p-little {
  font-size: 14px;
  font-family: "gothamlight";
}
