@import "./breakpoints.scss";

/* Colours */
$dark-blue: #051c3f;
$light-blue: #3c96c5;
$green: #70b33b;
$black-paragraph: #333333;
$black-paragraph-light: #4f4f4f;
$medium-grey: #9d9d9d;
$light-grey: #f3f3f3;
$bg-grey: #e5e5e5;
$low-grey: #d1d1d1;
$low-grey-faded: rgba(209, 209, 209, 0.3);
$gradient-green: linear-gradient(180deg, #70b33b 0%, #4db9af 100%);
$gradient-light-blue: linear-gradient(180deg, #3c96c5 0%, #4db9af 100%);
$lighter-grey: #fafafa;
$white: #fff;

$box-shadow: 0px 4px 4px rgba(5, 27, 63, 0.05);

/* Spacings */
$space-s: 10px;
$space: 32px;
$space-m: 44px;
$space-l: 62px;
$space-xl: 96px;

$max-width: 1440px;

$transition: 0.18s ease-in-out;
$fast-transition: 0.08s ease-in-out;
$slow-transition: 1.26s cubic-bezier(0.31, 0.18, 0.07, 0.77);

/* Font stuff */
$bold-family: "gothambold", sans-serif;
$light-family: "gothamlight", sans-serif;

%h1 {
  font-size: 48px;

  @media ($mobile) {
    font-size: 32px;
  }
}

%h2 {
  font-size: 40px;
}

%h3 {
  font-size: 32px;

  @media ($mobile) {
    font-size: 24px;
  }
}

%h4 {
  font-size: 24px;

  @media ($mobile) {
    font-size: 18px;
  }
}

%p {
  font-size: 18px;
  font-weight: 300;
  font-family: "gotham", sans-serif;
  color: $black-paragraph;

  @media ($mobile) {
    font-size: 16px;
  }
}

%p-large {
  font-size: 20px;
}

%p-display {
  font-size: 24px;
}

%p-small {
  font-size: 16px;
  font-family: "gothamblack", sans-serif;
}

%p-little {
  font-size: 14px;
  font-family: "gothamlight", sans-serif;
}

%form-field {
  display: block;
  font-size: 16px;
  line-height: 1;
  font-family: $light-family;
  color: #000;
  background-color: $light-grey;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid $dark-blue;
  padding: 18px 26px;

  &:focus {
    outline: none;
    border-bottom-color: $green;
  }
}

%form-label {
  display: block;
  font-size: 16px;
  font-family: $bold-family;
  line-height: 1;
  margin-bottom: 12px;
  color: $dark-blue;
}
