@font-face {
  font-family: "gothamblack";
  src: url("~/fonts/gotham-black-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold";
  src: url("~/fonts/gotham-bold-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight";
  src: url("~/fonts/gotham-light-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamthin";
  src: url("~/fonts/gotham-thin-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamthin";
  src: url("~/fonts/gotham-thinitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "gothamultra";
  src: url("~/fonts/gotham-ultraitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-ultraitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "gothamxlight";
  src: url("~/fonts/gotham-xlight-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-xlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamxlight";
  src: url("~/fonts/gotham-xlightitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-xlightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "gothambold";
  src: url("~/fonts/gothambold-webfont.woff2") format("woff2"),
    url("~/fonts/gothambold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold";
  src: url("~/fonts/gothambolditalic-webfont.woff2") format("woff2"),
    url("~/fonts/gothambolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "gotham";
  src: url("~/fonts/gothambook-webfont.woff2") format("woff2"),
    url("~/fonts/gothambook-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "gotham";
  src: url("~/fonts/gothambookitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gothambookitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: "gothamlight";
  src: url("~/fonts/gothamlight-webfont.woff2") format("woff2"),
    url("~/fonts/gothamlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight_italic";
  src: url("~/fonts/gothamlightitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gothamlightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "gotham";
  src: url("~/fonts/gothammedium-webfont.woff2") format("woff2"),
    url("~/fonts/gothammedium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gotham";
  src: url("~/fonts/gothammediumitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gothammediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: oblique;
}
