@font-face {
  font-family: "gothamblack";
  src: url("~/fonts/gotham-black-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold";
  src: url("~/fonts/gotham-bold-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambookitalic";
  src: url("~/fonts/gotham-bookitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-bookitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight";
  src: url("~/fonts/gotham-light-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamthin";
  src: url("~/fonts/gotham-thin-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamthinitalic";
  src: url("~/fonts/gotham-thinitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamultraitalic";
  src: url("~/fonts/gotham-ultraitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-ultraitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamxlight";
  src: url("~/fonts/gotham-xlight-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-xlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("~/fonts/gotham-xlightitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham-xlightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold";
  src: url("~/fonts/gothambold-webfont.woff2") format("woff2"),
    url("~/fonts/gothambold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold_italic";
  src: url("~/fonts/gothambolditalic-webfont.woff2") format("woff2"),
    url("~/fonts/gothambolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambook";
  src: url("~/fonts/gothambook-webfont.woff2") format("woff2"),
    url("~/fonts/gothambook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambook_italic";
  src: url("~/fonts/gothambookitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gothambookitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight";
  src: url("~/fonts/gothamlight-webfont.woff2") format("woff2"),
    url("~/fonts/gothamlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight_italic";
  src: url("~/fonts/gothamlightitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gothamlightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothammedium";
  src: url("~/fonts/gothammedium_1-webfont.woff2") format("woff2"),
    url("~/fonts/gothammedium_1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothammedium";
  src: url("~/fonts/gothammedium-webfont.woff2") format("woff2"),
    url("~/fonts/gothammedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothammedium";
  src: url("~/fonts/gothammediumitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gothammediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
