.form {
  display: flex;
  vertical-align: column;

  &__text-input {
    font-size: 16px;
    line-height: 1;
    font-family: $light-family;
    color: #000;
    background-color: $light-grey;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid $dark-blue;
    padding: 18px 26px;
    max-width: 340px;
    min-width: 260px;

    &:focus {
      outline: none;
      border-bottom-color: $green;
    }
  }

  &--horizontal {
    vertical-align: row;

    .form {
      &__fields {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        margin: -18px;
      }

      &__text-input {
        margin: 18px;
        flex-grow: 1;

        & + .form__text-input {
          margin-left: $space;
        }
      }

      &__actions {
        margin-left: $space-m;
      }
    }
  }
}
