.form {
  display: flex;
  flex-direction: column;

  &__text-input {
    //-- now in FormInput --//
    font-size: 16px;
    line-height: 1;
    font-family: $light-family;
    color: #000;
    background-color: $light-grey;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid $dark-blue;
    padding: 18px 26px;
    max-width: 340px;
    min-width: 260px;

    &:focus {
      outline: none;
      border-bottom-color: $green;
    }
    //-- now in FormInput --//
  }

  &:not(.form--full-width):not(.form--horizontal) {
    input,
    select,
    textarea {
      @media ($phablet) {
        width: 80%;
        max-width: 416px;
      }
    }
  }

  &--full-width {
    width: 100%;

    input,
    select,
    textarea {
      width: 100%;
    }
  }

  &:not(.form--horizontal) > * {
    & + * {
      margin-top: $space-m;
    }
  }

  &--horizontal {
    flex-direction: row;

    .form {
      &__fields {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        margin: -18px;
      }

      &__text-input,
      .form-input,
      .form-select {
        margin: 18px;
        flex-grow: 1;

        & + .form__text-input,
        & + .form-input,
        & + .form-select {
          margin-left: $space;
        }
      }

      &__actions {
        margin-left: $space-m;
      }
    }
  }
}
