@font-face {
  font-family: "gothamblack";
  src: local("sans-serif"),
    url("~/fonts/gotham/gotham-black-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gotham-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gothamlight";
  src: local("sans-serif"),
    url("~/fonts/gotham/gotham-light-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gotham-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gothambold";
  src: local("sans-serif"),
    url("~/fonts/gotham/gothambold-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gothambold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gothambold";
  src: local("sans-serif"),
    url("~/fonts/gotham/gothambolditalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gothambolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "gotham";
  src: local("sans-serif"),
    url("~/fonts/gotham/gothambook-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gothambook-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gotham";
  src: local("sans-serif"),
    url("~/fonts/gotham/gothambookitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gothambookitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "gothamlight";
  src: url("~/fonts/gotham/gothamlight-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gothamlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gothamlight_italic";
  src: local("sans-serif"),
    url("~/fonts/gotham/gothamlightitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gothamlightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "gotham";
  src: local("sans-serif"),
    url("~/fonts/gotham/gothammedium-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gothammedium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gotham";
  src: local("sans-serif"),
    url("~/fonts/gotham/gothammediumitalic-webfont.woff2") format("woff2"),
    url("~/fonts/gotham/gothammediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: oblique;
  font-display: swap;
}
