@charset "UTF-8";

@font-face {
  font-family: "get-icons";
  src: url("~/fonts/icons/get-icons.eot");
  src: url("~/fonts/icons/get-icons.eot?#iefix") format("embedded-opentype"),
    url("~/fonts/icons/get-icons.woff") format("woff"),
    url("~/fonts/icons/get-icons.ttf") format("truetype"),
    url("~/fonts/icons/get-icons.svg#get-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
