@import "./variables", "./normalize.scss", "./simple-grid.scss", "./fonts.scss",
  "./layout.scss";

html {
  background-color: $light-grey;
}

html,
body {
  @extend %p;
  line-height: 1.78;
}

body {
  max-width: $max-width;
  margin: 0 auto;
}

main {
  background-color: $white;
}
