@import "./variables", "./normalize.scss", "./simple-grid.scss", "./fonts.scss",
  "./layout.scss";

html,
body {
  @extend %p;
  line-height: 1.78;
  overflow-x: hidden;
}

body {
  max-width: $max-width;
  margin: 0 auto;
}
