@import "./variables", "./normalize.scss", "./olc-grid.scss",
  "./gotham-font.scss", "./icon-font.scss", "./layout.scss", "./styling.scss",
  "./form.scss", "./divider.scss";

@import "~/components/pages/content-page.scss";
@import "./illustrated-house-block.scss";
@import "./awesome-slider.scss";

html {
  background-color: $light-grey;
}

html,
body {
  @extend %p;
  line-height: 1.78;
}

body {
  margin: 0 auto;
}

main {
  background-color: $white;
}

svg {
  max-width: 100%;
  height: auto;
}

p + * {
  margin-top: 24px;
}

.image__container + p {
  margin-top: 24px;
}

//-- OLC Frameword --//
@import "~/components/olc-framework/index.scss";

//-- Component Stylesheets --//
@import "~/components/configurable/Banner/styles.scss";
@import "~/components/configurable/Block/styles.scss";
@import "~/components/configurable/BlockCTA/styles.scss";
@import "~/components/configurable/BurgerMenu/styles.scss";
@import "~/components/configurable/CaseStudiesMap/styles.scss";
@import "~/components/configurable/Collapsible/styles.scss";
@import "~/components/configurable/Expandable/styles.scss";
@import "~/components/configurable/Grid/styles.scss";
@import "~/components/configurable/Heading/styles.scss";
@import "~/components/configurable/Hero/styles.scss";
@import "~/components/configurable/HighlightBlock/styles.scss";
@import "~/components/configurable/Image/styles.scss";
@import "~/components/configurable/InfoStrip/styles.scss";
@import "~/components/configurable/ProductsAndWarrantiesBlock/styles.scss";
@import "~/components/configurable/Quote/styles.scss";
@import "~/components/configurable/Section/styles.scss";
@import "~/components/configurable/Shoutout/styles.scss";
@import "~/components/configurable/TickList/styles.scss";
@import "~/components/layout/footer/styles.scss";
@import "~/components/layout/navigation/styles.scss";
@import "~/components/layout/navigation/navigation-item.scss";
@import "~/components/layout/page-wrapper/styles.scss";
@import "~/components/pages/faq.scss";
@import "~/components/pages/for-your-business.scss";
@import "~/components/pages/projects.scss";
@import "~/components/standalone/Certificates/styles.scss";
@import "~/components/standalone/StatsBlock/styles.scss";
@import "~/templates/blog/item/styles.scss";
@import "~/templates/service/styles.scss";
