@import "./variables", "./normalize.scss", "./olc-grid.scss",
  "./gotham-font.scss", "./icon-font.scss", "./layout.scss", "./styling.scss",
  "./form.scss", "./divider.scss";

@import "~/components/pages/content-page.scss";
@import "./illustrated-house-block.scss";
@import "./awesome-slider.scss";

html {
  background-color: $light-grey;
}

html,
body {
  @extend %p;
  line-height: 1.78;
}

body {
  max-width: $max-width;
  margin: 0 auto;
}

main {
  background-color: $white;
}

svg {
  max-width: 100%;
  height: auto;
}

p + * {
  margin-top: 24px;
}

.image__container + p {
  margin-top: 24px;
}
