@import "~/styles/_variables.scss";

.u-layout {
  &--indent {
    @media ($phablet) {
      padding-left: 116px;
    }
  }

  &--sticky-top {
    position: sticky;
    top: 0;
  }

  &--centered {
    text-align: center;
  }
}
