@import "~/styles/_variables.scss";

// OLC Grid

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

@media ($mobile) {
  .hidden-xs {
    display: none !important;
  }
}

// grid

$gutter: 36px;

*[class^="col-"] {
  width: 100%;
  display: inline-block;
  align-self: flex-start;
  flex-grow: 1;
  flex-shrink: 1;

  @media ($phablet) {
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;
  }
}

@media ($phablet) {
  .col-1 {
    width: calc((100% / 12) - #{$gutter});
  }

  .col-2 {
    width: calc((100% / 6) - #{$gutter});
  }

  .col-3 {
    width: calc((100% / 4) - #{$gutter});
  }

  .col-4 {
    width: calc((100% / 3) - #{$gutter});
  }

  .col-5 {
    width: calc((100% * (5 / 12)) - #{$gutter});
  }

  .col-6 {
    width: calc(50% - #{$gutter});
  }

  .col-7 {
    width: calc((100% * (7 / 12)) - #{$gutter});
  }

  .col-8 {
    width: calc((100% * (8 / 12)) - #{$gutter});
  }

  .col-9 {
    width: calc((100% * (9 / 12)) - #{$gutter});
  }

  .col-10 {
    width: calc((100% * (10 / 12)) - #{$gutter});
  }

  .col-11 {
    width: calc((100% * (11 / 12)) - #{$gutter});
  }
}

.container {
  display: flex;
  width: calc(100vw - 10px);
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  z-index: 1;

  @media ($phablet) {
    width: calc(100vw - 64px);

    & > *[class^="col-"] {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media ($laptop) {
    width: calc(100vw - 128px);
    max-width: calc(#{$max-width} - 128px);
  }

  &--column {
    flex-direction: column;
  }
}

.row {
  display: flex;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  @media ($phablet) {
    width: calc(100% + #{$gutter});
    margin-left: -($gutter / 2);
    margin-right: -($gutter / 2);
  }
}
