@import "~/styles/_variables.scss";

.homepage-b2b {
  .quote {
    background-color: $dark-blue;
  }

  .block:last-child {
    padding-bottom: 0;
  }
}

.homepage-content-wrapper {
  padding-top: 15vh;

  @media (min-width: 769px) {
    padding-top: 15vh;
  }

  @media ($mobile) {
    padding-top: 0
  }

}