@import "~/styles/_variables.scss";

.projects {
  .grid {
    margin: 0;
    justify-content: flex-start;

    li {
      width: calc(25%);
      height: 0;
      max-width: calc(25%);
      min-width: 0;
      border: 16px solid #fff;
      margin: 0;
      padding-bottom: calc(25% - 32px);
      background-size: cover;
      background-position: bottom;
      border-radius: 8px;
      overflow: hidden;
    }
  }

  .project {
    position: relative;
    font-size: 18px;

    &__title {
      font-size: 100%;
      font-style: oblique;
      font-weight: 400;
      color: #fff;
      line-height: 1;
    }

    &__location {
      color: $light-blue;
      font-size: 89%;
      margin-top: 8px;
      line-height: 1;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        0deg,
        rgba(5, 28, 63, 0.8) 0%,
        rgba(5, 28, 63, 0) 100%
      );
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 25px 16px;
      flex-direction: column;
      justify-content: flex-end;
    }

    &__title,
    &__location,
    &::before {
      opacity: 0;
      transition: opacity $transition;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .project {
        &__title,
        &__location {
          opacity: 1;
        }
      }
    }
  }
}
