@import "~/styles/_variables.scss";

.projects {
  .container + .container.u-layout--indent {
    margin-top: 160px;
  }

  .grid {
    margin: 32px -16px -16px;
    justify-content: flex-start;

    li {
      width: calc(25%);
      height: 0;
      max-width: calc(25%);
      min-width: 0;
      border: 16px solid #fff;
      margin: 0;
      padding-bottom: calc(25% - 32px);
      border-radius: 8px;
      overflow: hidden;
    }
  }

  .project {
    position: relative;
    font-size: 18px;

    &__title {
      font-size: 100%;
      font-style: oblique;
      font-weight: 400;
      color: #fff;
      line-height: 1;
    }

    &__location {
      color: $light-blue;
      font-size: 89%;
      margin-top: 8px;
      line-height: 1;
    }

    &__title,
    &__location {
      position: relative;
      z-index: 1;
      transition: opacity $transition;
    }

    a:not(.visible-xs) {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 25px 16px;
      flex-direction: column;
      justify-content: flex-end;
      background-size: cover;
      background-position: bottom;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
          0deg,
          rgba(5, 28, 63, 0.8) 0%,
          rgba(5, 28, 63, 0) 100%
        );
        transition: opacity $transition;
        z-index: 0;

        opacity: 0;
      }

      .project__title,
      .project__location {
        opacity: 0;
      }

      &:hover {
        &::before,
        .project__title,
        .project__location {
          opacity: 1;
        }
      }
    }
  }

  @media ($mobile) {
    a {
      display: block;
      opacity: 1 !important;
      position: relative !important;

      &:first-child {
        height: calc(100vw - 48px) !important;

        &::before {
          display: none;
        }
      }

      &:not(:first-child) {
        margin-top: 32px;
      }
    }

    .grid {
      margin: 32px 0;

      li {
        height: auto;

        width: 100%;
        max-width: 100%;
        min-width: 0;
        border: none;
        margin: 0;
        border-radius: 2px;

        & + li {
          margin-top: 24px;
        }
      }
    }

    .project {
      font-size: 24px;

      &__title {
        line-height: 1.2;
        color: $dark-blue;
      }

      &__location {
        line-height: 1.2;
      }
    }
  }
}
