.form-input {
  margin-bottom: 25px;
}

.fl-r {
  float: right;
}

.fl-l {
  float: left;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
