@import "~/styles/_variables.scss";

.service {
  .gatsby-image-wrapper + .gatsby-image-wrapper {
    margin-top: 66px;
  }

  .block .heading {
    color: $dark-blue;
  }

  &__highlights {
    margin-top: 66px;
  }

  &__block-1 {
    .highlight__icon {
      background-color: $light-blue;
    }
  }

  &__block-2 {
    .highlight__icon {
      background-color: $green;
    }
  }
}

.highlight {
  display: flex;

  &__icon {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-right: 28px;
    border-radius: 50%;
    box-shadow: $box-shadow;
    text-align: center;

    .icon {
      color: $white;
      font-size: 52px;
      padding: 12px 0;
      margin-top: 0;
    }
  }

  &__contents {
    padding-top: calc(40px - 16px);

    h3 {
      font-size: 32px;
    }
  }

  & + .highlight {
    margin-top: 47px;
  }

  @media ($mobile) {
    flex-direction: column;
  }
}

// .wrap {
//   position: relative;
//   padding-bottom: 56.25%; /* 16:9 */
//   padding-top: 25px;
//   height: 0;
// }
// .wrap iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }