@import "~/styles/_variables.scss";

.page-wrapper {
  position: relative;
  transform: translateY(-40px);
  opacity: 0;
  transition: transform $slow-transition, opacity $slow-transition;

  &--init {
    opacity: 1 !important;
    transform: translateY(0);
  }
}
