@import "~/styles/_variables.scss";

.quote {
  width: 100%;
  background-color: $light-blue;
  color: $white;
  padding: $space-m $space-l 56px;

  h3 {
    line-height: 1;
  }

  p {
    font-size: 24px;
    line-height: 1.33;
    margin-top: 16px;
  }

  .form {
    margin-top: 32px;
  }

  @media ($mobile) {
    padding: 30px 24px 48px;
    .postcode-input {
      margin-bottom: 0px;
    }
  }

  @media ($phablet) {
    @media (max-width: 1088px) {
      .postcode-input {
        margin-bottom: 0px;
      }
      h3 {
        font-size: 2.94vw;
      }
      p {
        font-size: 2.2vw;
      }
    }
  }
}
