@import "~/styles/_variables.scss";

.map-container {
  display: grid;
}

.map-overlay {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  cursor: col-resize;
}

.arrowsvg {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  height: 100%;
  width: 500px;
  margin: auto;
}

.am-box-minmax {
  width: 100% !important;
  margin-left: 0 !important;
}

.am-range-slider {
  width: 100% !important;
}

@media ($mobile) {
  canvas {
    pointer-events: none;
  }
}

@media ($phablet) {
  .show-mob {
    display: none !important;
  }
}
