@import "~/styles/_variables.scss";

.burger-menu {
  position: relative;
  height: 100%;

  &__items {
    position: absolute;
    padding: 32px 22px;
    top: 68px;
    left: -6px;
    width: 284px;
    height: calc(100vh - 93px);
    overflow-y: auto;
    background-color: $dark-blue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateX(-100%);
    transition: transform $transition;
  }

  &--open {
    .burger-menu__items {
      transform: translateX(0);
    }
  }
}
