@import "~/styles/_variables.scss";

[data-icon],
.icon {
  display: inline-flex;
  vertical-align: middle;
  margin-top: -2%;

  &:before {
    font-family: "get-icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon__circle-wrapper {
  display: flex;
  justify-content: center;

  .icon {
    display: inline-flex;
    padding: 19px;
    background-color: $light-grey;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
}

.icon-at:before {
  content: "\61";
}

.icon-battery-charging:before {
  content: "\62";
}
.icon-buildings:before {
  content: "\63";
}
.icon-check:before {
  content: "\64";
}
.icon-crane:before {
  content: "\65";
}
.icon-developer:before {
  content: "\66";
}
.icon-eco-friendly:before {
  content: "\67";
}
.icon-energy-transform:before {
  content: "\68";
}
.icon-factory:before {
  content: "\69";
}
.icon-inverters:before {
  content: "\6a";
}
.icon-location:before {
  content: "\6b";
}
.icon-modules:before {
  content: "\6c";
}
.icon-panel-battery:before {
  content: "\6d";
}
.icon-pin:before {
  content: "\6e";
}
.icon-solar-power:before {
  content: "\6f";
}
.icon-recharge-phone:before {
  content: "\70";
}
.icon-solar-energy:before {
  content: "\71";
}
.icon-solar-fitting:before {
  content: "\72";
}
.icon-solar-house-2:before {
  content: "\73";
}
.icon-solar-house:before {
  content: "\74";
}
.icon-solar-weight:before {
  content: "\75";
}
.icon-weight:before {
  content: "\76";
}
.icon-worker:before {
  content: "\77";
}
.icon-panel-modules:before {
  content: "\78";
}
.icon-phone:before {
  content: "\79";
}
.icon-sun:before {
  content: "\7a";
}
.icon-pdf:before {
  content: "\41";
}
.icon-email:before {
  content: "\42";
}

.icon-arrow:before,
.icon-arrow-up:before,
.icon-arrow-right:before,
.icon-arrow-down:before,
.icon-arrow-left:before {
  content: "\43";
}

.icon-arrow-up:before {
  transform: rotate(-90deg);
}

.icon-arrow-down:before {
  transform: rotate(90deg);
}

.icon-arrow-left:before {
  transform: rotate(180deg);
}

.icon-fat-arrow:before {
  content: "\44";
}

.icon-long-arrow:before {
  content: "\45";
}

.icon-build:before {
  content: "\46";
}
