@import "~/styles/_variables.scss";

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-minmax {
  margin-top: 30px;
  width: 55%;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  color: #000000;
  margin-left: 5%;
}
.range-slider {
  width: 50%;
}
.rs-range {
  margin-top: 29px;
  width: 50%;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: none;
    background: $dark-blue;
    border-radius: 50px;
    border: 0px solid #010101;
  }
  &::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: none;
    background: $dark-blue;
    border-radius: 50px;
    border: 0px solid #010101;
  }

  &::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #000000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 30px;
    width: 30px;
    border-radius: 22px;
    background: $light-blue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
    &:hover {
      background: lighten($light-blue, 5%);
    }
  }
  &::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid #000000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 30px;
    width: 30px;
    border-radius: 22px;
    background: $light-blue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
    &:hover {
      background: lighten($light-blue, 5%);
    }
  }
  &::-moz-range-progress {
    background-color: $green;
    height: 10px;
    border-radius: 50px;
  }
  &::-ms-fill-lower {
    background-color: $green;
    height: 10px;
    border-radius: 50px;
  }
  &::-moz-focus-outer {
    border: 0;
  }
}

// Chrome slider track styling

.rs-label {
  position: relative;
  transform-origin: center center;
  display: block;
  width: 98px;
  height: 98px;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  padding-top: 2em;
  box-sizing: border-box;
  border: 2px solid $dark-blue;
  margin-top: 20px;
  margin-left: -38px;
  color: $dark-blue;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1em;
}

.btn-unsure {
  border: none;
  padding: 10px 25px;
  background: darken($light-grey, 5);
  &:hover {
    background: darken($light-grey, 15);
  }
}

@media ($mobile) {
  .box-minmax {
    width: 90%;
  }
  .range-slider {
    width: 90%;
  }
  .rs-range {
    width: 90%;
  }
}
