@import "~/styles/_variables.scss";

.case-studies-map {
  width: 100%;

  *[class^="col-"] {
    position: relative;
  }

  &__carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
  }

  .carousel__slider {
    height: 100%;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
  }

  // .carousel__slide {
  //   height: auto;

  //   &--hidden {
  //     opacity: 0;
  //   }
  // }

  .awssld__container {
    padding-bottom: 0;
  }

  .awssld__content {
    align-items: flex-start;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .awssld__wrapper {
    z-index: 0;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-slide {
    & > div {
      height: 100%;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    .project-item {
      opacity: 0.92;
      filter: saturate(75%);
      user-select: none;
    }

    *:focus {
      outline: none;
    }

    .project-item:focus {
      opacity: 1;
      filter: saturate(100%);
    }
  }

  .slick-dots {
    position: absolute;
    width: calc(100% - 120px);
    height: 46px;
    bottom: 0;
    padding-top: 30px;
    justify-content: flex-start;
    z-index: 1;

    li {
      display: inline-flex;
      vertical-align: top;

      button {
        width: 16px;
        height: 16px;
        background-color: $dark-blue;
        opacity: 0.4;
        transition: opacity $transition;
        border: none;
        outline: none;
        border-radius: 50%;
        font-size: 0;
        cursor: pointer;
      }

      &.slick-active button {
        opacity: 1;
      }

      & + li {
        margin-left: 16px;
      }
    }

    &::before {
      position: absolute;
      width: calc(100% + 120px);
      content: "";
      height: 1px;
      background-color: $low-grey;
      top: 0;
    }
  }
}

.project-item {
  position: relative;
  padding-bottom: 38px;
  width: 100%;
  min-height: 100%;
  flex-shrink: 0;

  &__image {
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: 5px;
    overflow: hidden;
  }

  &__title {
    font-size: 24px;
    color: $light-blue;
    margin-top: 40px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-top: -14px;
  }

  &__description {
    margin-top: 18px;
    color: $black-paragraph;
    font-size: 20px;
    line-height: 1.5;
  }

  &__link {
    color: $green;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;

    @media ($mobile) {
      flex-direction: column;
      padding-bottom: 30px;
    }
  }
}

.cs-info-item {
  position: relative;
  padding-left: 25px;
  text-align: left;

  &__icon {
    position: absolute;
    top: -2px;
    left: 0;
    margin-top: 0;
    font-size: 22px;
    color: $light-blue;
  }

  &__heading {
    display: block;
    font-family: $bold-family;
    font-size: 16px;
    line-height: 1;
    color: $dark-blue;
  }

  &__value {
    display: inline-block;
    font-size: 16px;
    line-height: 1.2;
    color: $medium-grey;
    margin-top: 8px;
  }

  @media ($phablet) {
    width: calc((100% - 56px) / 3);

    & + .cs-info-item {
      margin-left: 28px;
    }
  }

  @media ($mobile) {
    &__value {
      margin-top: 0;
    }

    & + .cs-info-item {
      margin-top: 30px;
    }
  }
}
