@import "~/styles/_variables.scss";

.case-studies-map {
  width: 100%;

  *[class^="col-"] {
    position: relative;
  }

  .awssld__container {
    padding-bottom: 0;
  }

  .awssld__content {
    align-items: flex-start;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .awssld__wrapper {
    z-index: 0;
  }

  .awssld__bullets {
    width: calc(100% - 120px);
    bottom: 0;
    padding-top: 30px;
    justify-content: flex-start;
    z-index: 1;

    button {
      width: 16px;
      height: 16px;
      background-color: $dark-blue;
      opacity: 0.4;
      transition: opacity $transition;

      &.awssld__bullets--active {
        opacity: 1;
      }

      & + button {
        margin-left: 16px;
      }
    }

    &::before {
      position: absolute;
      width: calc(100% + 120px);
      content: "";
      height: 1px;
      background-color: $low-grey;
      top: 0;
    }
  }
}

.project-item {
  position: relative;
  padding-bottom: 38px;
  height: 100%;
  width: 100%;
  flex-shrink: 0;

  &__image {
    width: 100%;
    padding-bottom: 55.47%;
    background-size: cover;
    box-shadow: $box-shadow;
    border-radius: 5px;
    overflow: hidden;
  }

  &__title {
    font-size: 24px;
    color: $light-blue;
    margin-top: 40px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-top: -14px;
  }

  &__description {
    margin-top: 18px;
    color: $black-paragraph;
    font-size: 20px;
    line-height: 1.5;
  }

  &__link {
    color: $green;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-right: 48px;
    padding-bottom: 48px;

    @media ($mobile) {
      flex-direction: column;
      padding-right: 0;
      padding-bottom: 30px;
    }
  }
}

.cs-info-item {
  text-align: left;

  &__icon {
    color: $light-blue;
  }

  &__heading {
    display: block;
    font-family: $bold-family;
    font-size: 16px;
    line-height: 1;
    color: $dark-blue;
  }

  &__value {
    font-size: 16px;
    line-height: 1;
    color: $medium-grey;
    margin-top: 16px;
    white-space: nowrap;
  }

  @media ($mobile) {
    & + .cs-info-item {
      margin-top: 30px;
    }
  }
}
