@import "~/styles/_variables.scss";

.heading {
  &--1 {
    color: $dark-blue;
    @extend %h1;
  }

  &--2 {
    color: $dark-blue;
    @extend %h2;
  }

  &--3 {
    color: $light-blue;
    @extend %h3;
  }
}
