@import "~/styles/_variables.scss";

.heading {
  line-height: 1.125;
  font-family: $bold-family;

  &--1 {
    @extend %h1;
  }

  &--2 {
    @extend %h2;
  }

  &--3 {
    @extend %h3;
  }

  &--4 {
    @extend %h4;
  }

  &--underlined {
    position: relative;
    padding-bottom: 21px;

    &::after {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      bottom: 5px;
      width: 120px;
      height: 8px;
      border-radius: 2px;
      background-color: $light-blue;
    }
  }
}
