@import "~/styles/_variables.scss";

.heading {
  &--1 {
    @extend %h1;
  }

  &--2 {
    @extend %h2;
  }

  &--3 {
    @extend %h3;

    & + * {
      margin-top: $space;
    }
  }

  &--underlined {
    position: relative;
    padding-bottom: 16px;

    &::after {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      bottom: 20px;
      width: 120px;
      height: 8px;
      background-color: $light-blue;
    }
  }
}
