@import "~/styles/_variables.scss";

.footer {
  background-color: $dark-blue;
  color: $white;

  &__logo {
    width: 130px;
    height: 49px;
    overflow: hidden;

    svg {
      width: 130px;
      height: 89px;
    }

    .logo__words {
      display: none;
    }
  }

  &__top {
    .container {
      padding: $space 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__middle {
    .container {
      padding: $space-m 0;
      border: 0 solid rgba(255, 255, 255, 0.3);
      border-width: 1px 0;

      *[class^="col-"] {
        flex-direction: column;
      }
    }
  }

  &__item {
    display: block;
    font-family: $light-family;
    font-size: 18px;
    font-weight: 300;

    span {
      display: block;
    }
  }

  a.footer__item:hover {
    text-decoration: underline;
  }

  &__column-heading {
    font-size: 24px;
    font-weight: 500;
  }

  &__bottom {
    .container {
      justify-content: flex-end;
    }
  }
}
