@import "~/styles/_variables.scss";

.footer {
  background-color: $dark-blue;
  color: $white;

  &__logo {
    width: 130px;
    height: 49px;
    overflow: hidden;

    svg {
      width: 130px;
      height: 89px;
    }

    .logo__words {
      display: none;
    }
  }

  &__top {
    .container {
      padding: $space 0;
      justify-content: space-between;
      align-items: center;
    }

    @media ($mobile) {
      .container {
        flex-direction: column;
        justify-content: space-around;
      }

      .footer__logo {
        margin-top: 52px;
      }
    }
  }

  &__middle {
    .container {
      padding: $space-m 0;
      border: 0 solid rgba(255, 255, 255, 0.3);
      border-width: 1px 0;

      *[class^="col-"] {
        flex-direction: column;
      }
    }
  }

  &__item {
    display: block;
    font-family: $light-family;
    font-size: 18px;
    font-weight: 300;

    span:not(.icon) {
      display: block;
    }

    .icon {
      position: absolute;
      top: 4px;
      left: 0;
      color: $light-blue;
      font-size: 24px;
      margin-top: 0;
    }

    & + .footer__item {
      margin-top: 8px;
    }
  }

  a.footer__item:hover {
    text-decoration: underline;
  }

  &__column-heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 26px;
  }

  &__bottom {
    padding: 12px;

    .container {
      justify-content: flex-end;
    }

    @media ($mobile) {
      .container {
        justify-content: center;
      }
    }
  }
}
