@import "~/styles/_variables.scss";

.hero {
  display: flex;
  position: relative;
  align-items: center;
  color: $white;
  z-index: 1;
  background-size: 1920px 1080px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $low-grey;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #051b3f 0%, rgba(196, 196, 196, 0) 100%);
  }

  & > .container:first-child {
    flex-direction: column;

    @media ($phablet) {
      & > * {
        max-width: 560px;
      }
    }
  }

  &__video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;

    .video__video {
      div,
      iframe {
        width: 1920px !important;
        height: 1080px !important;
      }
    }
  }

  &--compact {
    @media ($phablet) {
      height: 224px;
    }
  }

  &--large {
    color: $dark-blue;
    line-height: 1.17;

    &:before {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(196, 196, 196, 0) 100%
      );
    }

    .heading + p {
      margin-top: 15px;
    }

    .heading ~ .block-cta {
      font-family: "gotham";
      font-size: 16px;
      margin-top: $space-m;
      padding: 14px 30px;
    }

    @media ($phablet) {
      height: calc(100vh - 160px);
      max-height: calc(1080px - 160px);
      min-height: 680px;
    }
  }

  &--has-overlap {
    @media ($phablet) {
      & > .container {
        margin-top: -148px;
      }
    }
  }

  &--centered {
    max-width: none !important;
  }

  @media ($mobile) {
    height: 144px;

    .container {
      padding: 0 22px;
      width: 100%;
      margin-left: 0;
      flex-shrink: 0;
    }

    &--large {
      height: 300px;
    }
  }
}

.hero-overlap-block {
  overflow: hidden;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  width: 100%;

  svg {
    display: block;
  }

  @media ($phablet) {
    &__container {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .quote {
    padding: $space;
  }
}
