@import "~/styles/_variables.scss";

.hero {
  display: flex;
  position: relative;
  align-items: center;
  color: $white;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #051b3f 0%, rgba(196, 196, 196, 0) 100%);
  }

  &--compact {
    @media ($phablet) {
      height: 224px;
    }
  }
}
