@import "~/styles/_variables.scss";

.info-strip {
  background-color: $green;
  padding: $space-l 0;

  .container {
    justify-content: space-between;
  }

  &__items {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &__map-button {
    display: flex;
    padding-left: 20px;
    align-items: center;
    height: 74px;

    .icon {
      margin-left: 15px;
    }
  }

  @media ($mobile) {
    padding: $space-m 0;

    &__items {
      flex-direction: column;
    }

    &__map-button {
      margin-top: 72px;
      padding-left: 0;
    }

    .container {
      align-items: center;
      flex-direction: column;
    }
  }
}

.info-item {
  text-align: center;

  &__icon {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 74px;
    height: 74px;
    background-color: $light-blue;
    border-radius: 50%;
    color: $white;
    font-size: 36px;

    .icon {
      margin-top: 0;
    }
  }

  &__label {
    font-family: "gotham", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    color: $white;
  }

  @media ($phablet) {
    width: 20%;
  }

  @media ($mobile) {
    text-align: center;

    & + & {
      margin-top: 42px;
    }
  }
}

.info-strip--light {
  color: $dark-blue;
  background-color: $bg-grey;

  .info-item {
    background-color: $bg-grey;

    &__label {
      color: $dark-blue;
    }

    &__icon {
      background-color: $green;
    }
  }
}
