@import "~/styles/_variables.scss";

.form-textarea {
  &__field {
    @extend %form-field;
    
    width: 100%;
    height: 200px;
    overflow-y: auto;
    resize: none;
  }

  &__label {
    @extend %form-label;
  }
}
