@import "~/styles/_variables";

.animate {
  transition: opacity $slow-transition, transform $slow-transition;
  opacity: 0;
  transform: translateY(40px) rotate(0.5deg);
  transform-origin: top left;

  &--visible {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}
