@import "~/styles/_variables.scss";

.expandable {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid $low-grey;

  &__toggle {
    display: inline-block;
    font-family: $bold-family;
    color: $green;
    cursor: pointer;
    margin-top: -12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
